<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Scandinavian Food" />
    <meta property="og:image" content="https://scandinavianfood.azurewebsites.net/images/lefse.jpeg" />
    <meta property="og:description" content="A class project site for CS296N with a forum, quiz, and user registration.
This is the first site I have made with ASP.NET Core and have been steadily adding features and styling as I learn." />
    <meta name="author" content="Alan Shirk" />
    <meta name="publish_date" property="og:publish_date" content="2022-02-26" />
    <title>@ViewData["Title"] - ScandinavianFood</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right m-auto" type="button" data-toggle="collapse" data-target="#navwrapper" aria-controls="navwrapper"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navwrapper">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="btn nav-link m-auto @(ViewBag.Current == "Home" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn nav-link m-auto @(ViewBag.Current == "Forum" ? "active" : "")" asp-area="" asp-controller="Forum" asp-action="Index">Forum</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn nav-link m-auto @(ViewBag.Current == "Quiz" ? "active" : "")" asp-area="" asp-controller="Quiz" asp-action="Index">Quiz</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <!-- Login buttons and links -->
                        @using Microsoft.AspNetCore.Identity
                        @inject SignInManager<AppUser> signInManager

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="btn nav-link m-auto @(ViewBag.Current == "Admin" ? "active" : "")" asp-area="" asp-action="Index" asp-controller="Admin">Manage Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn nav-link m-auto @(ViewBag.Current == "ForumPosts" ? "active" : "")" asp-area="" asp-action="Index" asp-controller="ForumPosts">Manage Posts</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn nav-link m-auto @(ViewBag.Current == "ForumReplies" ? "active" : "")" asp-area="" asp-action="Index" asp-controller="ForumReplies">Manage Replies</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn nav-link m-auto @(ViewBag.Current == "ForumRatings" ? "active" : "")" asp-area="" asp-action="Index" asp-controller="ForumRatings">Manage Ratings</a>
                            </li>
                        }
                        @if (signInManager.IsSignedIn(User))
                        {
                            // signed-in
                            <li class="nav-item">
                                <form method="post" asp-action="LogOut" asp-controller="Account"
                                  asp-area="">
                                    <button type="submit"
                                        class="btn btn-link nav-link m-auto">
                                        Log Out
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                        // new/anon user
                            <li class="nav-item">
                                <a asp-action="Register" asp-controller="Account"
                               asp-area="" class="btn nav-link m-auto @(ViewBag.Current == "Register" ? "active" : "")">
                                    Register
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Login" asp-controller="Account"
                               asp-area="" class="btn nav-link m-auto @(ViewBag.Current == "Login" ? "active" : "")">Log In</a>
                            </li>
                        }
                        <li class="nav-item">
                            <div class="btn nav-link m-auto active" id="noclick">@User.Identity.Name</div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <main role="main" class="pb-1">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-0">
        <div class="container">
            &copy; 2022 - Alan Shirk
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
