@model ForumVM

@{
    ViewData["Title"] = "Forum";
    ViewData["Active"] = "Forum";
    TimeZoneInfo tzPacific = TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time");
}
@*post form*@
<div class="text-center m-auto">
    <h1>Forum</h1>
    <br />
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-controller="Forum" method="post">
        <textarea placeholder="Add a public comment..." class="comment-box" asp-for="PostText"></textarea>
        <br /><br />
        <button type="submit" class="btn btn-primary mb-3 comment-btn">Comment</button>
    </form>
</div>
<br />
@*post list*@
<div class="container-fluid text-center">
    @foreach (var post in Model.Posts)
    {
        <div class="m-5">
            <h3>@post.Text</h3>
        </div>
        <div class="d-flex m-3 justify-content-center">
            <div>
                <p class="m-3"><strong>User: </strong>&nbsp; @post.Poster</p>
            </div>

            <div>
                <p class="m-3"><strong>Date: </strong>&nbsp; @TimeZoneInfo.ConvertTimeFromUtc(post.PostDate, tzPacific).ToString("g")</p>
            </div>
        </div>
        <div class="m-3 d-flex justify-content-center gap-3">
            <a asp-action="AddReply" asp-controller="Forum" asp-route-id="@(post.ForumPostId)" class="btn btn-secondary mb-3">Reply</a>
            <a asp-action="AddRating" asp-controller="Forum" asp-route-id="@(post.ForumPostId)" class="btn btn-success mb-3">Rate</a>
        </div>
        @if (post.ForumReplies != null && post.ForumReplies.Count != 0)
        {
            <h5 class="m-3">Replies:</h5>
            <div class="d-flex m-3 justify-content-center flex-wrap">
                @foreach (var reply in post.ForumReplies)
                {
                    <div>
                        <h4 class="m-3">@reply.ReplyText</h4>
                        <div class="d-flex m-3 justify-content-center">
                            <div>
                                
                                <p class="m-3"><strong>User: </strong>&nbsp; @reply.Replier.UserName</p>
                            </div>
                            <div>
                                
                                <p class="m-3"><strong>Date: </strong>&nbsp; @TimeZoneInfo.ConvertTimeFromUtc(reply.ReplyDate, tzPacific).ToString("g")</p>
                            </div>
                        </div>
                    </div>

                }
            </div>
        }

        @if (post.ForumRatings != null && post.ForumRatings.Count != 0)
        {
            <h5 class="m-3">Ratings:</h5>
            <div class="d-flex m-3 justify-content-center flex-wrap">
                @foreach (var rating in post.ForumRatings)
                {
                    <div>
                        <h3 class="m-3">@rating.Rating</h3>
                        <div>
                            <p class="m-3"><strong>User: </strong>&nbsp; @rating.Rater.UserName</p>
                        </div>
                    </div>
                }
            </div>
        }
    }

</div>