@model ScandinavianFood.Models.DomainModels.ForumReply

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ForumReply</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReplyText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReplyText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReplyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReplyDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReplyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
